services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    env_file:
      - path: ./api/.env
        required: true
    volumes:
      - /app/node_modules
      - ./api:/app

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    depends_on:
      - api
    volumes:
      - /app/node_modules
      - ./client:/app
    environment:
      - WDS_SOCKET_PORT=0

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.dev
    depends_on:
      - api
      - client
    restart: unless-stopped
    ports:
      - 80:80