services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - path: ./api/.env
        required: true
    volumes:
      - /app/node_modules
      - ./api:/app
    depends_on:
      - mongo
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - api
    volumes:
      - /app/node_modules
      - ./client:/app
    environment:
      - WDS_SOCKET_PORT=0

  
  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./mongo/data:/data/db

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    depends_on:
      - api
      - client
    restart: unless-stopped
    ports:
      - 80:80

volumes:
  data: