.cve-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 2rem;
}

.showcase {
  align-self: center;
  justify-self: center;
  text-align: center;
  grid-column: 1 / -1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  align-self: center;
  justify-self: center;
  text-align: flex-start;
}
