.home-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  padding: 24px;
  max-width: 100%;
}

.home-showcase {
  margin-bottom: 24px;
  align-self: center;
  justify-self: center;
  text-align: center;
  grid-column: 1 / -1;
}

.home-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  grid-column: 1 / -1;
  gap: 30%;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
}

@media (max-width: 1600px) {
  .home-div {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .home-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .home-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .home-div {
    grid-template-columns: 1fr;
  }
}
