.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.home-buttons {
  display: flex;
  gap: 40px;
}

.home-btn {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #558cbd;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
