.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.register-form input {
  margin-left: 5px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.error-message {
  color: crimson;
  font-size: 14px;
  font-weight: 600;
}

.submit-btn {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #558cbd;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
